body { /*Main background*/
                background-color: dimgrey;
                margin: 0;
                background-image: url(other-images/kiwihug-qv05FvdE26k-unsplash.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat; 
                background-attachment: fixed;
            }
            .showcase-item { /*Put pen images and captions side by side and alternating, fix this*/
            display: flex;
            gap: 1rem;
            }